.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-neutral-black);
}
.Main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.Hero {
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/img_9801-1500h.jpg");
}
.max-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.About {
  min-height: 100%;
}
.max-content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Text-Container {
  width: 45%;
  display: flex;
  margin-top: var(--dl-space-space-eightunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.Info {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-line {
  flex: 0 0 auto;
  width: 50px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.info-text {
  color: var(--dl-color-neutral-white);
  font-size: 24px;
  font-family: Gotham Bold;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.Heading {
  margin-bottom: var(--dl-space-space-fourunits);
}
.text01 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.navlink {
  display: contents;
}
.component06 {
  text-decoration: none;
}
.image {
  width: var(--dl-size-size-half);
  align-self: stretch;
  object-fit: cover;
}
.Services {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.max-content-picture {
  width: 100%;
  display: flex;
  min-height: 600px;
  flex-direction: column;
}
.text07 {
  font-size: 45px;
  text-align: center;
}
.container1 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  background-size: cover;
  background-image: url("/playground_assets/img_9665-1500w.jpg");
  background-position: top left;
}
.container1:hover {
  background-color: rgba(215, 39, 48, 0.3);
  background-blend-mode: color-burn;
}
.max-content2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.TitleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-line1 {
  flex: 0 0 auto;
  width: 50px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.text08 {
  color: var(--dl-color-neutral-white);
  font-size: 24px;
  font-family: Gotham Bold;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.component07 {
  text-decoration: none;
}
.Cards-Container {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.Stories {
  min-height: 50vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.max-content3 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.TitleContainer1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-line2 {
  flex: 0 0 auto;
  width: 50px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.text10 {
  color: var(--dl-color-neutral-white);
  font-size: 24px;
  font-family: Gotham Bold;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.component11 {
  text-decoration: none;
}
.Carrousel {
  display: flex;
}
.Slider {
  width: var(--dl-size-size-half);
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: var(--dl-space-space-eightunits);
  flex-direction: column;
}
.Slides {
  align-items: flex-end;
}
.Image2 {
  flex: 1;
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: contain;
  transition: transform 0.5s;
  flex-shrink: 0;
  object-position: bottom;
  transform-origin: center center;
  scroll-snap-align: start;
}
.Image3 {
  flex: 1;
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: contain;
  transition: transform 0.5s;
  flex-shrink: 0;
  object-position: bottom;
  transform-origin: center center;
  scroll-snap-align: start;
}
.BulletContent {
  z-index: 1;
}
.Line {
  border-bottom-width: 0px;
}
.BulletContent1 {
  z-index: 1;
}
.Line1 {
  border-bottom-width: 0px;
}
.BulletContent2 {
  z-index: 1;
}
.Text-Container1 {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: var(--dl-space-space-eightunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-eightunits);
}
.text13 {
  color: var(--dl-color-default-primary);
  font-style: normal;
  font-weight: 700;
}
.text22 {
  color: var(--dl-color-default-primary);
  font-style: normal;
  font-weight: 700;
}
.text32 {
  color: var(--dl-color-default-primary);
  font-style: normal;
  font-weight: 700;
}
.max-content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.TitleContainer2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-line3 {
  flex: 0 0 auto;
  width: 50px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.text40 {
  color: var(--dl-color-neutral-white);
  font-size: 24px;
  font-family: Gotham Bold;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.component12 {
  text-decoration: none;
}
.VideoSection {
  min-height: auto;
  flex-direction: column;
  justify-content: center;
}
.Video {
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.video1 {
  width: 100%;
  align-self: center;
  max-height: 700px;
}
.component13 {
  left: calc(50% - 45px);
  bottom: calc(50% - 45px);
  position: absolute;
}
.max-content5 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.TitleContainer3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container8 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-line4 {
  flex: 0 0 auto;
  width: 50px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.text42 {
  color: var(--dl-color-neutral-white);
  font-size: 24px;
  font-family: Gotham Bold;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.component14 {
  text-decoration: none;
}
.Cards-Container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .Text-Container {
    width: 100%;
  }
  .Cards-Container {
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .max-content1 {
    flex-direction: column-reverse;
  }
  .Text-Container {
    margin-top: var(--dl-space-space-fourunits);
  }
  .Info {
    margin-bottom: 0px;
  }
  .image {
    width: 100%;
  }
  .max-content2 {
    flex-direction: column;
  }
  .TitleContainer {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .Cards-Container {
    justify-content: center;
  }
  .TitleContainer1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .Carrousel {
    flex-direction: column;
  }
  .Slider {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .Text-Container1 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: 0px;
  }
  .TitleContainer2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .TitleContainer3 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .Text-Container {
    margin-bottom: 0px;
  }
  .Heading {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .max-content-picture {
    min-height: 400px;
  }
  .Slider {
    margin-bottom: 0px;
  }
  .Text-Container1 {
    padding-top: var(--dl-space-space-doubleunit);
  }
}
