.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-neutral-black);
}
.Main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.Hero {
  background-image: url("/playground_assets/img_9828-1500h.jpg");
}
.max-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.FadeInLeftRich {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.horizontal-line {
  width: 4px;
  display: flex;
  align-self: stretch;
  margin-right: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-default-primary);
}
.Container1 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.text {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.text2 {
  color: var(--dl-color-default-primary);
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.max-content1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text4 {
  width: 100%;
  margin-bottom: var(--dl-space-space-eightunits);
  padding-bottom: var(--dl-space-space-eightunits);
}
.cards-container {
  gap: 64px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: center;
}
.max-content2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cards-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: var(--dl-space-space-eightunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-eightunits);
  justify-content: space-between;
}
@media(max-width: 991px) {
  .max-content1 {
    flex-direction: column;
  }
  .cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .Hero {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: initial;
  }
  .max-content1 {
    flex-direction: column;
  }
  .text4 {
    padding: var(--dl-space-space-doubleunit);
  }
  .cards-container1 {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .Hero {
    background-size: cover;
    background-position: left;
  }
  .horizontal-line {
    margin-right: var(--dl-space-space-unit);
  }
  .text {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .text4 {
    padding: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-sixteenunits);
  }
  .cards-container {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .cards-container1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
