.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-neutral-black);
}
.Main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.Hero {
  background-size: contain;
  background-image: url("/playground_assets/services%20pic-1500w.png"),linear-gradient(90deg, rgb(0, 0, 0) 1.00%,rgb(0, 0, 0) 100.00%);
  background-repeat: no-repeat;
}
.max-content {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-overlay {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 30%;
  height: 100%;
  display: none;
  position: absolute;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-eightunits);
  justify-content: center;
  background-color: var(--dl-color-default-overlay);
}
.social-media-links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon02 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon06 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon08 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.Services {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.Service {
  background-size: cover;
  background-image: url("/playground_assets/img_9913-1500h.jpg");
  background-position: top;
}
.heading-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Heading {
  z-index: 1;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.text {
  color: var(--dl-color-neutral-black);
}
.Service1 {
  background-image: url("/playground_assets/img_9874-1500h.jpg");
}
.heading-container1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text1 {
  z-index: 1;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.text2 {
  color: var(--dl-color-neutral-black);
}
.Service2 {
  background-image: url("/playground_assets/img_9811-1500h.jpg");
  background-position: center;
}
.heading-container2 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text3 {
  z-index: 1;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.text4 {
  color: var(--dl-color-neutral-black);
}
.Service3 {
  background-image: url("/playground_assets/img_9611-1500h.jpg");
  background-position: center;
}
.heading-container3 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text5 {
  z-index: 1;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.text6 {
  color: var(--dl-color-neutral-black);
}
@media(max-width: 991px) {
  .max-content {
    align-items: center;
  }
  .hero-overlay {
    width: var(--dl-size-size-half);
  }
}
@media(max-width: 767px) {
  .Hero {
    justify-content: flex-end;
  }
  .hero-overlay {
    width: 70%;
    padding-bottom: var(--dl-space-space-sixteenunits);
  }
  .Service {
    background-size: cover;
    background-image: url("/playground_assets/img_9913-1500h.jpg");
    background-position: center;
  }
  .Heading {
    font-size: 50px;
  }
  .text1 {
    font-size: 50px;
  }
  .Service2 {
    background-position: right;
  }
  .text3 {
    font-size: 50px;
  }
  .Service3 {
    background-position: left;
  }
  .text5 {
    font-size: 50px;
  }
}
@media(max-width: 479px) {
  .hero-overlay {
    width: 85%;
  }
  .social-media-links {
    padding-left: var(--dl-space-space-doubleunit);
  }
  .container1 {
    max-width: 36px;
    max-height: 36px;
  }
  .container2 {
    max-width: 36px;
    max-height: 36px;
  }
  .container3 {
    max-width: 36px;
    max-height: 36px;
  }
  .container4 {
    max-width: 36px;
    max-height: 36px;
  }
  .Service {
    background-size: cover;
    background-position: center;
  }
  .Heading {
    font-size: 32px;
  }
  .Service1 {
    background-position: center;
  }
  .text1 {
    font-size: 32px;
  }
  .Service2 {
    background-position: center;
  }
  .text3 {
    font-size: 32px;
  }
  .Service3 {
    background-position: left;
  }
  .text5 {
    font-size: 32px;
  }
}
