.BlogPostCard {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 15px 0px rgba(255, 255, 255, 0.61);
  align-items: stretch;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-neutral-white);
}
.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.Image {
  flex: 1;
  width: 100%;
  object-fit: cover;
  flex-direction: column;
}
.container1 {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.text {
  color: #595959;
  font-weight: 300;
}
.text01 {
  margin-bottom: 32px;
}
.text02 {
  color: var(--dl-color-default-content);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.Btn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}



@media(max-width: 991px) {
  .BlogPostCard {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .BlogPostCard {
    flex-direction: column;
  }
  .Image {
    flex: auto;
    width: 100%;
    min-height: 400px;
  }
  .container1 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .text01 {
    font-size: 36px;
  }
}
@media(max-width: 479px) {
  .container1 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .Btn {
    padding-left: 0px;
    padding-right: 0px;
  }
}
