.container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cta-btn {
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
















@media(max-width: 767px) {
  .rootClassName5 {
    align-self: flex-end;
  }
  .rootClassName6 {
    align-self: flex-end;
  }
  .rootClassName7 {
    align-self: flex-end;
  }
  .rootClassName8 {
    align-self: flex-end;
  }
  .rootClassName9 {
    align-self: flex-end;
  }
  .rootClassName12 {
    align-self: flex-end;
  }
  .rootClassName13 {
    align-self: flex-end;
  }
}
