.dashboard-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-neutral-black);
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.logo {
  width: 32px;
  height: 32px;
  object-fit: scale-down;
  border-radius: var(--dl-radius-radius-round);
}
.container1 {
  flex: 0 0 auto;
  right: 0px;
  width: 8px;
  bottom: 0px;
  height: 8px;
  display: none;
  padding: 2px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #32A94C;
}
.container1:hover {
  background-color: #32A94C;
}
.container2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.container3 {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
}
.icon {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
.container4 {
  top: -4px;
  flex: 0 0 auto;
  right: -2px;
  width: 14px;
  height: 14px;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #199033;
}
.container4:hover {
  background-color: #32A94C;
}
.text {
  color: var(--dl-color-neutral-white);
  font-size: 10px;
  line-height: 1.1;
}
.container5 {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.icon2 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
.container6 {
  flex: 0 0 auto;
  right: 0px;
  width: 8px;
  bottom: 0px;
  height: 8px;
  padding: 2px;
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #32A94C;
}

