.container {
  display: flex;
  position: relative;
}
.horizontal-line {
  width: 4px;
  display: flex;
  align-self: stretch;
  margin-right: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-default-primary);
}
.Container1 {
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.heading-hero {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.Container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rootClassName {
  width: 100%;
  align-self: flex-start;
}
@media(max-width: 991px) {
  .rootClassName {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .horizontal-line {
    margin-right: var(--dl-space-space-unit);
  }
  .heading-hero {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
