.Top-Bar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1800px;
  align-items: flex-end;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  background-color: var(--dl-color-neutral-black);
}
.container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  flex: 1;
  width: 250px;
  min-width: 250px;
  object-fit: cover;
}
.close-menu {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
}
.close-menu:hover {
  transform: rotate(180deg);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-default-primary);
}
.icon {
  fill: var(--dl-color-neutral-white);
  width: 36px;
  height: 36px;
}
.Middle {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  flex-direction: column;
}
.Mobile-Links {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.navlink {
  display: contents;
}
.Container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.Text {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink1 {
  display: contents;
}
.container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.text02 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink2 {
  display: contents;
}
.container03 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  text-decoration: none;
}
.Text03 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink3 {
  display: contents;
}
.container04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  text-decoration: none;
}
.text04 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink4 {
  display: contents;
}
.container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  text-decoration: none;
}
.Text05 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink5 {
  display: contents;
}
.container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  text-decoration: none;
}
.text06 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink6 {
  display: contents;
}
.container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  text-decoration: none;
}
.text07 {
  font-size: 24px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
.Bottom {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 1;
  flex-grow: 1;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.Profile {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.LoginBtn {
  display: flex;
  transition: 0.3s;
  padding-top: 5px;
  border-style: double;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: 5px;
}
.LoginBtn:disabled {
  color: var(--dl-color-default-overlaydark);
  background-color: var(--dl-color-default-secondary);
}
.icon03 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.AccountLink {
  display: none;
  padding-top: 5px;
  border-style: double;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: 5px;
  text-decoration: none;
}
.icon05 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.social-media-links {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.container08 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon07 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon09 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container10 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon13 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.container11 {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 48px;
  max-height: 48px;
  align-items: flex-start;
  border-color: var(--dl-color-neutral-white);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: space-between;
}
.icon15 {
  fill: var(--dl-color-neutral-white);
  width: 100%;
  height: 100%;
}
.Filter {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
}
.Logo {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  mix-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}






@media(max-width: 991px) {
  .Middle {
    background-position: right;
  }
}
@media(max-width: 767px) {
  .Top-Bar {
    align-items: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .icon03 {
    margin-left: 0px;
  }
  .icon05 {
    margin-left: 0px;
  }
  .Filter {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDU5fHxnZW9tZXRyaWN8ZW58MHx8fHwxNjM5ODI1MDE3&ixlib=rb-1.2.1&w=1500');
  }
  .Logo {
    background-size: cover;
    background-image: url("/playground_assets/logo%20-%20variantele%20principale-39-1500h.png");
  }
}
@media(max-width: 479px) {
  .image {
    width: 230px;
    min-width: 230px;
  }
  .Container01 {
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .container02 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .container03 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .container04 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .container05 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .container06 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .Bottom {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .social-media-links {
    margin-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .container08 {
    max-width: 40px;
    max-height: 40px;
  }
  .container09 {
    max-width: 40px;
    max-height: 40px;
  }
  .container10 {
    max-width: 40px;
    max-height: 40px;
  }
  .container11 {
    max-width: 40px;
    max-height: 40px;
  }
  .Filter {
    background-size: cover;
  }
}
