.Video {
  flex: 0 0 auto;
  width: 90px;
  cursor: pointer;
  filter: drop-shadow(4px 0px 2px rgba(150, 150, 150, 0.65));
  height: 90px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-neutral-white);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.inner-background {
  flex: 0 0 auto;
  width: 75%;
  height: 75%;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.icon {
  fill: var(--dl-color-neutral-white);
  width: 36px;
  filter: drop-shadow(4px 0px 2px rgba(150, 150, 150, 0.65));
  height: 36px;
  transition: 0.1s;
  margin-left: var(--dl-space-space-halfunit);
}
.icon:hover {
  transform: scale(1.2);
}
.icon:active {
  transform: scale(1);
}
.rootClassName {
  left: calc(50% - 45px);
  bottom: calc(50% - 45px);
  display: none;
  position: absolute;
}
.rootClassName1 {
  left: calc(50% - 45px);
  bottom: calc(50% - 45px);
  display: none;
  position: absolute;
}
@media(max-width: 767px) {
  .Video {
    width: 45px;
    height: 45px;
    border-width: 3px;
  }
  .inner-background {
    width: 85%;
    height: 85%;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .rootClassName {
    left: calc(50% - 20px);
    bottom: calc(50% - 20px);
  }
  .rootClassName1 {
    left: calc(50% - 20px);
    bottom: calc(50% - 20px);
  }
}
@media(max-width: 479px) {
  .rootClassName {
    left: calc(50% - 20px);
    bottom: calc(50% - 20px);
  }
}
