.TestimonialCardReverse {
  display: flex;
  flex-direction: row-reverse;
}
.Image {
  flex: 0 0 auto;
  width: var(--dl-size-size-half);
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image1 {
  width: 100%;
  min-width: 550px;
  transform: scale(1);
  object-fit: contain;
  transition: transform 0.5s;
  flex-shrink: 0;
  object-position: bottom;
  transform-origin: center center;
  scroll-snap-align: start;
}
.Text-Container {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-eightunits);
  margin-right: var(--dl-space-space-eightunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-eightunits);
}
.text {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}


@media(max-width: 767px) {
  .TestimonialCardReverse {
    flex-direction: column;
  }
  .Image {
    width: 100%;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .image1 {
    min-width: 300px;
  }
  .Text-Container {
    align-items: flex-start;
    padding-top: 0;
    margin-right: 0px;
    padding-bottom: 0;
  }
  .text {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
